@{
    ViewBag.Title = _("Index");
}

<h2>@_("Indice")</h2>

@_("Esto es un texto de prueba, para ver como localizarlo.")

@using (@Html.BeginForm())
{
    @Html.EditorForModel()
    
    <input type="submit" value=@_("enviar") />
}

<input id="ScriptTest" type="button" value=@_("Prueba de Javascript") />